@model IPagedList<InClassVoting.Models.Student_QuizDone>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ReportHome";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/StudentReport.css">
<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css">

<div class="container">
    <div class="head">
        <div style="display: flex; height: 40px;">
            <h1 class="h5 mg-top">Quiz Result</h1>
        </div>

    </div>
    @using (Html.BeginForm("ReportHome", "Report", FormMethod.Get))
    {
        <div style="margin-top:40px;margin-bottom:10px" class="block-search-dropdown">
            <div style="width: fit-content;" class="search-size text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200">
                <div class="mr-2 transition duration-500 px-3 border-b">
                    <input class="search-box flex-1" type="text" id="searchString" name="searchText" value="@ViewBag.TextSearch" placeholder="...">
                    <button type="submit" class="search-box">
                        <i class="fad fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="btn-group rbButtonMg ">
                <h1 style="margin: auto; margin-right: 10px">Course: </h1>
                <select id="ddlCourse" name="cid" onchange="this.form.submit()" class="btn-indigo mg-left ">
                    <option value="-1">All Courses </option>
                    @foreach (var course in ViewBag.CourseList)
                    {
                        if (course.CID == ViewBag.CourseSearch)
                        {

                            <option value="@course.CID" selected>@course.Name </option>
                        }
                        else
                        {
                            <option value="@course.CID">@course.Name </option>
                        }
                    }
                </select>
            </div>
            <div class="btn-group rbButtonMg">
                <h1 style="margin: auto; margin-right: 10px">Date: </h1>
                <select id="ddlDate" name="date" onchange="this.form.submit()" class="btn-indigo mg-left ">
                    <option value="-1">All Dates </option>
                    @foreach (var date in ViewBag.DateList)
                    {
                        if (date.ToString().Equals(ViewBag.DateSearch))
                        {
                            <option value="@date" selected>@date.ToString("dd-MM-yyyy")</option>
                        }
                        else
                        {
                            <option value="@date">@date.ToString("dd-MM-yyyy")</option>
                        }
                    }
                </select>
            </div>
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th class="" scope="col">No</th>
                <th style="width: 36%;" scope="col">Name</th>
                <th cope="col">Course</th>
                <th @*style="width: 47%;"*@ scope="col">Date</th>
                <th cope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                ViewBag.ReportCount = ViewBag.ReportCount + 1;
                <tr>
                    <th scope="row">@ViewBag.ReportCount</th>
                    <td scope="row">@report.QuizDone.Quiz_Name</td>
                    <td>@report.QuizDone.Course.Name</td>
                    <td>@report.QuizDone.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td><a href="~/Student/Report/QuizReport?qzid=@report.QuizDone.QuizDoneID"><span style="color:blue"><u>View result</u></span> </a></td>
                </tr>
            }


        </tbody>
    </table>
    <div class="paging">
        @Html.PagedListPager(Model, i => Url.Action("ReportHome", "Report",
                        new { i, cid = ViewBag.CourseSearch, searchText = Request.QueryString["searchText"], date = ViewBag.DateSearch }))
    </div>


</div>

@*<script src="~/Scripts/studentReport.js"></script>*@
