
@{
    ViewBag.Title = "DoQuizPaperTest";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}



<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <div class="grid xl:grid-cols-1 xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full">
        <div class="topcontent xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 ">

            <h1 class="h4 text-center">@ViewBag.Quiz.Quiz_Name</h1>
        </div>
        <!--Time CountDown-->
        <div class="topcontent xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6">

            <div>
                @{
                    string time = "";
                    var quiz = ViewBag.Quiz;
                    if (quiz.Time != null)
                    {
                        int quizTime = quiz.Time ?? 0;
                        if (quiz.Time >= 60)
                        {

                            int minute = quizTime / 60;
                            if (minute >= 10)
                            {
                                time = time + minute.ToString() + ":";
                            }
                            else
                            {
                                time = time + "0" + minute.ToString() + ":";
                            }
                            if (quiz.Time - minute * 60 < 10)
                            {
                                time = time + "0" + (quiz.Time - minute * 60).ToString();
                            }
                            else
                            {
                                time = time + (quiz.Time - minute * 60).ToString();
                            }


                        }
                        else
                        {
                            if (quiz.Time < 10)
                            {
                                time = time + "00:" + "0" + quiz.Time.ToString();
                            }
                            else
                            {
                                time = time + "00:" + quiz.Time.ToString();
                            }

                        }
                    }

                }
                <input class="bg-gray-100 h4 pl-3 float-right" size="3" type="text" name="create-question-time" placeholder="Time" value="@time">
            </div>

            <div>
                <span class="bg-gray-100 h5 pl-3 float-right mt-2">Time:</span>
            </div>

        </div>
        <!--End Time CountDown-->
        @* <div class="text-center flex flex-wrap column-gap inline-block mt-4">
                <a href="https://localhost:44320/StudentViews/MultipleQuiz" class=" lg:mb-6 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Multiple Choice</a>
                <a href="https://localhost:44320/StudentViews/ReadingQuiz" class=" lg:mb-6 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Reading</a>
                <a href="https://localhost:44320/StudentViews/MatchingQuiz" class=" lg:mb-6 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Matching</a>
                <a href="https://localhost:44320/StudentViews/IndicateMistakeQuiz" class=" lg:mb-6 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Indicate Mistake</a>
                <a href="https://localhost:44320/StudentViews/FillBlankQuiz" class=" lg:mb-6 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Fill Blank</a>
                <a href="https://localhost:44320/StudentViews/ShortAnswerQuiz" class=" lg:mb-6 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Short Answer</a>
            </div>*@



        <!--Form Test-->
        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 border border-black-400">
            <div>
                <h1 class="h6">
                    <span>Question Type:</span>
                    <span>Muliple Choice</span>
                </h1>
            </div>
        </div>

        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 bg-gray border border-black-400">

            <div>
                @using (Html.BeginForm("SubmitQuiz", "Quiz", FormMethod.Post))
                {
                    if (ViewBag.QuizMultipleChoiceQuestions != null)
                    {
                        <p>  Student ID: </p>
                        <input type="text" style="width:95%" class="w-full pl-3" name="studentID" />
                        <input type="hidden" style="width:95%" class="w-full pl-3" name="qDoneID" value="@ViewBag.Quiz.QuizDoneID" />
                        int countQuestion = 0;

                        foreach (var question in ViewBag.QuizMultipleChoiceQuestions)
                        {
                            countQuestion++;
                            <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 ">

                                <span> Question @countQuestion:  <span />
                            </div>
                            <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 ">
                                <div>
                                    <textarea class="p-2 w-full" name="create-question-question" rows="4" id="question" placeholder="Question ..." readonly> @question.Text </textarea>
                                </div>

                            </div>

                            <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 ">


                                <input type="hidden" name="qid" value="@question.Q_DoneID" />
                                <input type="hidden" name="qtype" value="1" />
                                <table class="w-full border-spacing-2" style="border-collapse: separate; border-spacing: 20px">
                                    @{
                                        int countAnswer = 0;
                                    }
                                    @foreach (var answers in question.QuestionAnswerDones)
                                    {
                                        countAnswer++;
                                        <tr>
                                            <td class="td-option">
                                                <input type="hidden" name="numberOfAnswer" value="@countAnswer">
                                                <input type="checkbox" id="cbOption" name="cbOption" value="@answers.QA_DoneID">
                                                
                                            </td>
                                            <td>
                                                @if (countAnswer == 1)
                                                {<label>A.</label>}
                                                else if (countAnswer == 2)
                                                {<label>B.</label>}
                                                else if (countAnswer == 3)
                                                {<label>C.</label>}
                                                else if (countAnswer == 4)
                                                {<label>D.</label>}
                                                else if (countAnswer == 5)
                                                {<label>E.</label>}
                                                else if (countAnswer == 6)
                                                {<label>F.</label>}
                                                &nbsp;
                                                <input type="hidden" style="width:95%" class="w-full pl-3" name="optionID" value="@answers.QA_DoneID" readonly>
                                                <input type="text" style="width:95%" class="w-full pl-3" name="option" value="@answers.Text" readonly>
                                            </td>
                                        </tr>
                                    }
                                </table>


                            </div>
                            <hr />
                        }
                    }

                    <div class=" inline-block mt-4">
                        <input type="submit" class="float-right btn btn-bs-primary" value="Finish Quiz" />
                    </div>
                }
            </div>
            <!--End Form Test-->

        </div>






    </div>

</div>
<script type="text/javascript">
  
   
</script>