
@{
    ViewBag.Title = "PollResultPieChart";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Poll.css">
<style>
    .pie-chart {
        position: relative;
        width: 600px;
        min-height: 450px;
        margin-left: 35%;
        outline: 1px solid #ccc;
    }

        .pie-chart h2 {
            position: absolute;
            margin: 1rem;
        }

        .pie-chart cite {
            position: absolute;
            bottom: 0;
            font-size: 80%;
            padding: 1rem;
            color: gray;
        }

        .pie-chart figcaption {
            position: absolute;
            bottom: 1em;
            right: 1em;
            font-size: smaller;
            text-align: right;
        }

        .pie-chart span:after {
            display: inline-block;
            content: "";
            width: 0.8em;
            height: 0.8em;
            margin-left: 0.4em;
            height: 0.8em;
            border-radius: 0.2em;
            background: currentColor;
        }
</style>

<!-- Modal reopen poll -->
@using (Html.BeginForm("ReopenPoll", "Poll", FormMethod.Post))
{
    <div class="modal fade" id="reopenPollModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-gray-100">
                <div class="modal-header">
                    <h5 class="modal-title h5" id="exampleModalLabel">Reopen poll</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color:blue">
                        A new poll with the same question and answer will be created
                    </p>
                    <div style="margin-bottom:10px">
                        <h1 class="lo-label">New poll name </h1>
                        <input class="txt-modal-newLO" type="text" id="newPollName" name="newPollName" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="oldPollID" value="@ViewBag.Poll.PollID" />
                    <button type="submit" id="createLO" class="btn btn-primary">Create</button>

                </div>
            </div>
        </div>
    </div>
}
<!-- End Modal -->
<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <div>
        <a href="~/Teacher/Report/ReportPollList"><span style="color:blue"><u>Back To Poll List</u></span> </a>
    </div>
    <div class="grid grid-cols-1 w-full">
        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 ">
            <h1 class="h4 text-center">
                <span>@ViewBag.Poll.PollName</span>
            </h1>

        </div>


        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 border border-black-400">
            <div>
                <span class="h5">Number of participants:</span>
                <span id="data-total" class="h5">@ViewBag.Poll.TotalParticipian</span>
            </div>
        </div>
        <div class="xl:fixed xl:w-full lg:fixed lg:w-full md:fixed md:w-full md:top-0 md:z-20 items-center bg-gray p-6 border border-black-400">
            <div>
                <span class="question-num">
                    Question:
                </span>
            </div>
            <div contenteditable="false" class="w-full bg-gray p-6 font-sans font-semibold">
                @ViewBag.Poll.Question
            </div>

        </div>

        <div class="w-full bg-gray p-6 border border-black-400">



            <div class="pie-chart">
                <h2>Pie Chart Result</h2>
                <figcaption>

                    <table class="p-3">
                        @foreach (var pollAnswer in ViewBag.Poll.Poll_Answer)
                        {
                            double choose = pollAnswer.ChosenQuantity;
                            double total = ViewBag.Poll.TotalParticipian;
                            int percentage = 0;
                            if (total != 0)
                            {
                                double choicePercent = (choose / total) * 100;
                                percentage = Convert.ToInt32(choicePercent);
                            }

                            <tr class="p-3">
                                <td><div class="bg-gray" contenteditable="false" id="data-string">@pollAnswer.Answer_Text</div></td>
                                <td><span id="data-color"></span></td>
                                <!--Vất phần trăm vào trong thẻ div có id="data-stuff" -->
                                <td><div class="bg-gray inline" contenteditable="false" id="data-stuff">@percentage</div>%</td>
                            </tr>
                        }
                    </table>


                </figcaption>
                @*<cite>Bảng Demo bằng CSS</cite>*@
            </div>


        </div>

    </div>
    <button type="button" class="btn-indigo mg_btn reopen-btn w-full" data-bs-toggle="modal" data-bs-target="#reopenPollModal"> Reopen this poll</button>
    @*<div style="flex">
            <a href="~/Teacher/Home/Home" class="btn float-left">Back To Home</a>

        </div>*@

</div>
<script src="~/Scripts/piechart.js"></script>

