
@{
    ViewBag.Title = "EditShortAnswerQuestion";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    @using (Html.BeginForm("EditShortAnswerQuestion", "Question", FormMethod.Post, new { enctype = "multipart/form-data", id = "fillblank-form" }))
    {
        <div class="grid grid-cols-1 w-full ">

            <div class="w-full items-center bg-gray">
                <div class="text-center">
                    <h1 class="h6">
                        <span>Question Type:</span>
                        <span>Short Answer</span>
                        <input type="hidden" name="previousUrl" value="@ViewBag.Previous" />
                        <input type="hidden" name="chid" value="@ViewBag.ChapterID" />
                        <input type="hidden" name="qid" value="@ViewBag.Question.QID" />
                    </h1>
                </div>
                <div class="flex md:mx-16">
                    <div class="m-6  ">
                        <span><b>Time:</b></span>
                        <input class="border border-black-400 pl-1" size="3" type="text" name="time" placeholder="..." value="@ViewBag.Question.Time">
                    </div>
                    <div class="m-6  ">
                        <span><b>Mark:</b></span>
                        <input class="border border-black-400 pl-1" size="3" type="text" name="mark" placeholder="..." value="@ViewBag.Question.Mark">
                    </div>
                </div>

            </div>

            <div class="w-full items-center bg-gray p-6 border border-black-400">
                <div>
                    <span><b>Question:</b> </span>
                </div>
                <div class="w-10/12  float-left mt-3">
                    <textarea class="p-2 w-full" name="questionText" rows="4" id="question" placeholder=" ...">@ViewBag.Question.Text</textarea>
                </div>

                <div class="w-2/12 drag-content float-right">
                    <div class="drag-area">
                        @if (ViewBag.Question.ImageData != null)
                        {
                            var base64 = Convert.ToBase64String(ViewBag.Question.ImageData);
                            var imgSrc = string.Format("data:image/png;base64,{0}", base64);
                            <img src="@imgSrc" alt="pic" />
                        }
                        else
                        {
                            <div><i class="icon fas fa-cloud-upload-alt"></i></div>
                            <div><h3 class="header">Drag and Drop to Upload File</h3></div>
                            <div><h4 class="or">or</h4></div>
                        }

                    </div>
                    <div>
                        <div>
                            <input type="file" class="file-input btn-image" name="imgfile" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full items-center bg-gray p-6 border border-black-400">
                <table class="w-full border-spacing-2">
                    @foreach (var answer in ViewBag.Question.QuestionAnswers)
                    {
                        if (answer.IsCorrect)
                        {
                            <tr>
                                <td><b>Answer:&nbsp; </b><input type="text" class="w-full pl-3" style="width:95%" name="answer" placeholder="..." value="@answer.Text"></td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <div class="text-center flex flex-wrap items-center justify-center column-gap inline-block mt-4">
                <input type="submit" class="btn btn-bs-primary w-3/12" name="submit" value="Save Changes">
            </div>

        </div>
    }
    <br />
    <br />
    <div class="w-full items-center bg-gray p-6 border border-black-400">
        <h1 class="h6">Example: Short Answer Question</h1>

        <p style="color:blue">
            If you want the question can have more than 1 correct answer,
            put the backdash (\) character between answers.<br />
            If you want to use fraction, use dash (/) character.
        </p>
        <br />
        <b>75/100=?</b>
        <br />
        <br />
        Answer : <input type="text" style="background-color: white; width: 90%;margin-bottom:10px" class="w-full pl-3" value="3/4\0.75" disabled><br />

        <p style="color:blue">
            The correct answer is <span style="background-color:lightgreen;color:black">3/4</span> or <span style="background-color: lightgreen; color: black">0.75</span>
        </p>

    </div>
</div>

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>*@
@*<script src="~/Scripts/validate.js"></script>*@
<script src="~/Scripts/dragdropimage.js"></script>


