<!-- start sidebar -->
<div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">


    <!-- sidebar content -->
    <div class="flex flex-col">

        <!-- sidebar toggle -->
        <div class="text-right hidden md:block mb-4">
            <button id="sideBarHideBtn">
                <i class="fad fa-times-circle"></i>
            </button>
        </div>
        <!-- end sidebar toggle -->
        <!-- button -->
        <a href="#" style="background-color:aquamarine" class="btn" data-bs-toggle="modal" data-bs-target="#newCourceModal"> Create new Course</a>
        <!-- end button -->
        <!-- Modal new Cource -->
        @using (Html.BeginForm("CreateCourse", "Course", FormMethod.Post))
        {
            <div class="modal fade" id="newCourceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h5" id="exampleModalLabel">Create new Course</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="h5">Enter Course Name</p>
                            <div style="display:flex; margin-bottom:25px">
                                <input type="text" id="fname" name="newcourseName" placeholder="Enter here..">
                                <input type="hidden" name="chid" value="-1">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- End Modal -->
        <!-- Modal new Chapter -->
        @using (Html.BeginForm("CreateChapter", "Chapter", FormMethod.Post))
        {
            <div class="modal fade" id="newChapterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h5" id="exampleModalLabel">Create new Chapter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="h5">Enter Chapter Name</p>
                            <div style="display:flex; margin-bottom:25px">
                                <input type="hidden" id="newChapCID" name="newChapCID" />
                                <input type="hidden" name="chid" value="-1" />
                                <input type="text" id="fname" name="chapterName" placeholder="Enter Here..">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" @*onclick="parseCourseId()"*@ class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- End Modal -->
        <!-- Modal Edit Course -->
        @using (Html.BeginForm("EditCourse", "Course", FormMethod.Post))
        {
            <div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h5" id="exampleModalLabel">Edit Course</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="h5">Enter New Course Name</p>
                            <div style="display:flex; margin-bottom:25px">
                                <input type="text" id="newCourseName" name="newCourseName">
                                <input type="hidden" id="cIdToUpdate" name="courseIdUpdate">
                                <input type="hidden" name="chid" value="-1" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" @*onclick="parseCourseId()"*@ class="btn btn-primary">Save Changed</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- End Modal -->
        <!-- Modal Confirm Delete Course -->
        @using (Html.BeginForm("DeleteCourse", "Course", FormMethod.Post))
        {
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title h5" id="exampleModalLabel">Delete Course</h5> &nbsp;
                            <h5 class="modal-title h5" id="courseNameDelete"> </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p style="color:red"> You will delete all chapters and question inside this course!!!</p>
                            <p style="color:red">
                                Do you wish to continue?
                            </p>
                            <input type="hidden" id="cIdToDelete" name="courseIdDelete">
                            <input type="hidden" name="chid" value="-1" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- End Modal -->
        <!-- link -->
        <a style="margin-top:10px" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fas fa-graduation-cap"></i>
            My Course
        </a>
        <!-- end link -->

        <div class="layout-content">
            @if (ViewBag.CourseCount == 0)
            {
                <p style="text-align: center; margin-top: 10%; font-size: larger;">Course List Is Empty</p>
            }
            else
            {
                foreach (var course in ViewBag.CourseList)
                {
                    <div style="display:flex">
                        <details close id="dropDownCourse">
                            <summary>
                                @course.Name
                                @{
                                    int countChap = 0;
                                }
                                @foreach (var chapter in course.Chapters)
                                {
                                    if (chapter.CourseID == course.CID)
                                    {
                                        countChap++;
                                    }
                                }
                                @if (countChap < 2)
                                {
                                    <p style="color: cornflowerblue ">(@countChap Chapter)</p>
                                }
                                else
                                {
                                    <p style="color: cornflowerblue ">(@countChap Chapters)</p>
                                }
                                <i class="ph-caret-down-bold"></i>
                            </summary>
                            <div class="layout-cource">
                                @foreach (var chapter in ViewBag.ChapterList)
                                {
                                    if (chapter.CourseID == course.CID)
                                    {
                                        int countQuest = 0;
                                        foreach (var question in chapter.Questions)
                                        {
                                            countQuest++;
                                        }
                                        foreach (var matchQuest in chapter.MatchQuestions)
                                        {
                                            countQuest++;
                                        }
                                        if (countQuest < 2)
                                        {
                                            <a class=" text_overflow" href="~/Teacher/Question/ViewQuestionByChapter?chid=@chapter.ChID"> @chapter.Name <br /> </a>
                                            <p style="color: cornflowerblue; width: max-content;">(@countQuest Question)</p>
                                        }
                                        else
                                        {
                                            <a class=" text_overflow" href="~/Teacher/Question/ViewQuestionByChapter?chid=@chapter.ChID"> @chapter.Name <br />  </a>
                                            <p style="color: cornflowerblue; width: max-content;"> (@countQuest Questions)</p>
                                        }
                                    }

                                }
                                <button data-bs-toggle="modal" data-bs-target="#newChapterModal" style="color: blueviolet; width: max-content;" onclick="getCourseId(@course.CID)">
                                    + New Chapter
                                </button>
                            </div>

                        </details>
                        <div style="margin-left: auto; height: fit-content;" class="dropdown">
                            <button id="dropdownMenuEdit" data-bs-toggle="dropdown"><i class="fas fa-edit"></i></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuEdit">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCourseModal" onclick="getCourseIdToUpdate(@course.CID,'@course.Name')">Rename</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="getCourseIdToDelete(@course.CID,'@course.Name')">Delete</a></li>

                            </ul>
                        </div>
                    </div>
                }
            }

        </div>

    </div>
    <!-- end sidebar content -->

</div>
<!-- end sidbar -->
