@model IPagedList<InClassVoting.Models.Question>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "QuizDetail";
    Layout = "~/Areas/teacher/Views/Shared/_QuizLibraryLayout.cshtml";
}


<!-- Modal Edit Quiz -->
@using (Html.BeginForm("EditQuizName", "Quiz", FormMethod.Post))
{
    <div class="modal fade" id="editquizModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h5" id="exampleModalLabel">Edit Quiz</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="h5"> Enter New Quiz Name</p>
                    <div style="display:flex; margin-bottom:25px">
                        <input type="hidden" value="@ViewBag.Quiz.QuizID" name="qzID" />
                        <input type="text" id="fname" name="newQuizName" value="@ViewBag.Quiz.QuizName">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Changed</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
}
<!-- End Modal -->
<!-- Modal add question -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="margin-right: 46%;" class="modal-dialog">
        <div style="width: 180%;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h5" id="exampleModalLabel">@ViewBag.Course.Name </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body ">

                <div style="margin-top:10px;margin-bottom:10px" class="block-search-dropdown">
                    <div style="width: fit-content;" class="search-size text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200">

                        <div class="mr-2 transition duration-500 px-3 border-b">

                            <input class="search-box flex-1" type="text" id="searchString" placeholder="search">
                            <button type="button" onclick="reloadModalAddQuestion()" class="search-box">
                                <i class="fad fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="btn-group mg-left">
                        <input id="qzidAddModal" type="hidden" value="@ViewBag.Quiz.QuizID" name="qzID">
                        <input id="cidAddModal" type="hidden" value="@ViewBag.Course.CID" />
                        <h1 style="margin:auto;margin-right:10px">Chapter: </h1>
                        <select id="ddlChapter" onchange="reloadModalAddQuestion()" class="btn-indigo mg-left ">
                            <option value="-1">All Chapter </option>
                            @foreach (var chapter in ViewBag.ChapterList)
                            {
                                <option value="@chapter.ChID">@chapter.Name</option>
                            }

                        </select>
                    </div>
                    <div class="btn-group mg-left">

                        <h1 style="margin: auto; margin-right: 10px">Question Type: </h1>
                        <select id="ddlQtype" onchange="reloadModalAddQuestion()" class="btn-indigo mg-left ">
                            <option value="-1">All Type</option>
                            @foreach (var type in ViewBag.QuestionType)
                            {
                                <option value="@type.QTypeID">@type.Name</option>
                            }
                        </select>
                    </div>
                </div>
                @using (Html.BeginForm("AddQuestionToQuiz", "Quiz", FormMethod.Post))
                {
                    <div id="divShowQuestions">
                        @{
                            Html.RenderAction("ShowQuestionForEditQuiz", "Quiz", new { chid = "-1", cid = ViewBag.Course.CID, qzid = ViewBag.Quiz.QuizID, qtype = "-1", searchText = "" });
                        }
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" value="@ViewBag.Quiz.QuizID" name="qzID">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal Confirm -->
@using (Html.BeginForm("DeleteQuiz", "Quiz", FormMethod.Post))
{
    <div class="modal fade" id="confirmDeleteQuizModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h5" id="exampleModalLabel">Delete Quiz @ViewBag.Quiz.QuizName</h5>
                    <input type="hidden" name="qzID" value="@ViewBag.Quiz.QuizID" />
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="h5"> Are you Sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
}

<!-- End Modal -->
<!-- link -->

<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->
    <div style=" height: 63px; border-bottom: solid;">
        <div style="display: flex; height: 40px;">
            <h1 class="h5 mg-top">@ViewBag.Course.Name</h1>
            <!-- Example single danger button -->

            <p>&nbsp;</p>
            <div style="display: flex; margin-left: auto;">

            </div>
        </div>
    </div>

    <div style="display:flex">
        <h1 style="margin-top:auto;margin-bottom:auto" class="h5">@ViewBag.Quiz.QuizName</h1>
        <div style="margin-left: 10px; height: fit-content;margin-top:auto;margin-bottom:auto" class="dropdown">
            <button id="dropdownMenuEdit" data-bs-toggle="dropdown"><i class="fas fa-pencil-alt "></i></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuEdit">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editquizModal">Rename</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmDeleteQuizModal">Delete  </a></li>

            </ul>
        </div>

    </div>
    @if (ViewBag.CountQuest == 0)
    {

        <p style="text-align: center; margin-top: 10%; font-size: larger;">There Is No Question In This Quiz</p>
        <div style="display: flex; margin-left: auto">
            <button type="button" class="btn-indigo mg_btn" data-bs-toggle="modal" data-bs-target="#addQuestionModal">
                Add Question
            </button>
        </div>
    }
    else
    {
        <div class="border-bt">

            @using (Html.BeginForm("PreviewQuiz", "Quiz", FormMethod.Get, new { target = "_blank" }))
            {
                <div style="display:flex;margin-top:20px">
                    <div style="display:flex">
                        <h1 class="quiz-lable">Quiz Mode: </h1>
                        <input onclick="changeLinkpQuiz()" id="papeQuiz" class="mode-rdb" name="rdPreview" type="radio" value="1" checked />
                        <h4 class="label-mode-content-3">Show all question</h4>
                        <input onclick="changeLinkqQuiz()" id="qQuiz" class="mode-rdb" name="rdPreview" type="radio" value="0" />
                        <h4 class="label-mode-content-3"> Show question by question</h4>
                        <input type="hidden" name="qzid" value="@ViewBag.Quiz.QuizID" />
                        <button type="submit" style="width: 177px;" class="label-preview"><i class="fas fa-eye" style="margin-right:5px"></i>Preview</button>

                    </div>
                </div>
                <div style="display:flex;margin-top:20px">

                    <div style="display:flex">
                        <h1 style="margin: auto" class="quiz-lable2">Link quiz: </h1>
                        <p class="linkquiz-lable" style="margin: auto; margin-left: 10px;" id="linkQ">@ViewBag.QuizLink</p>
                        <input type="hidden" id="quizLink" value="@ViewBag.QuizLink" />
                        <a style="background-color:aquamarine;margin-left:20px;margin-right:10px" class="btn " onclick="copyLink()">Copy</a>
                    </div>
                </div>
                <div style="display:flex;margin-top:20px">

                    <div style="display:flex">
                        <h1 style="margin: auto" class="quiz-lable2">Total Mark: </h1>
                        <h4 class="label-mode-content-2" style="margin-left:5px">@ViewBag.Quiz.Mark</h4>
                        <h1 style="margin: auto" class="quiz-lable2">Total Time: </h1>
                        @{
                            int? time = ViewBag.Quiz.Time;
                            string second = "00";
                            string minute = "00";
                            if ((time % 60) != 0)
                            {
                                if (time % 60 < 10)
                                {
                                    second = "0" + (time % 60);
                                }
                                else
                                {
                                    second = (time % 60).ToString();
                                }
                            }
                            if ((time / 60) != 0)
                            {
                                if (time / 60 < 10)
                                {
                                    minute = "0" + (time / 60);
                                }
                                else
                                {
                                    minute = (time / 60).ToString();
                                }
                            }
                            string timeDisplay = minute + ":" + second;
                        }
                        <h4 class="label-mode-content-2" style="margin-left:5px">@timeDisplay</h4>
                    </div>
                </div>
            }
            <div class="tb-mg-top">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th style="width: 47%;" scope="col">Question</th>
                            <th scope="col">Type</th>
                            <th scope="col">Mark</th>
                            <td scope="col"> </td>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() != 0)
                        {

                            foreach (var question in Model)
                            {
                                ViewBag.QuestionNo = ViewBag.QuestionNo + 1;
                                <tr>
                                    <th scope="row"> @ViewBag.QuestionNo</th>
                                    <td><a href="#" type="button">@question.Text </a></td>
                                    <td>
                                        @if (question.Qtype == 5)
                                        {
                                            <span>Matching</span> }
                                        else
                                        {
                                            @question.QuestionType.Name}
                                    </td>
                                    <td>@question.Mark</td>
                                    <td><a href="~/Teacher/Quiz/DeleteQuestionsInsideQuiz?qzID=@ViewBag.Quiz.QuizID&qid=@question.QID&qtype=@question.Qtype&i=@ViewBag.Page" class="fas fa-trash-alt"></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="paging">
                    @Html.PagedListPager(Model, i => Url.Action("QuizDetail", "Quiz", new { i, qzID = ViewBag.Quiz.QuizID }))
                </div>
            </div>
            <div style="display: flex; margin-left: auto;margin-bottom:20px">
                <button type="button" class="btn-indigo mg_btn" data-bs-toggle="modal" data-bs-target="#addQuestionModal">
                    Add Question
                </button>
            </div>

        </div>
        <div class="border-bt">
            @using (Html.BeginForm("SaveQuizOption", "Quiz", FormMethod.Post))
            {
                <input type="hidden" name="qzID" value="@ViewBag.Quiz.QuizID" />
                <h1 class="quiz-lable">Quiz attributes</h1>
                <div style="display: flex; margin-top: 20px">
                    <div style="display:flex">
                        @if (ViewBag.Shuffle == 1)
                        {
                            <input type="checkbox" onchange="saveChanges()" name="cbMixQuestions" class="form-check-input" id="cbMixQuestions" value="1" checked />
                            <input type="hidden" name="cbMixQuestions" value="0" />
                        }
                        else
                        {
                            <input type="checkbox" onchange="saveChanges()" name="cbMixQuestions" class="form-check-input" id="cbMixQuestions" value="1" />
                            <input type="hidden" name="cbMixQuestions" value="0" />
                        }
                        <h4 class="label-mode">Shuffle question</h4>
                    </div>
                </div>

                if (ViewBag.RandomQuestionNum == null)
                {
                    <div style="display: flex; margin-top: 20px">
                        <div style="display:flex">
                            <input onchange="isCheckedMixQ()" type="checkbox" name="cbRandomQuestion" class="form-check-input" id="rdQuestion" value="1" />
                            <input type="hidden" name="cbRandomQuestion" value="0" />
                            <h4 class="label-mode">Randomize question for each student</h4>
                        </div>
                        <div style="display:flex">
                            <div id="rdQuestionNum" style="display:none" class="div-rd-question">
                                <div style="display:flex">
                                    <h4 class="label-mode-content-2">Number of random question :</h4>
                                    <span>
                                        <input name="rdQuestionNum" type="number" min="1" max="@ViewBag.CountQuest" />
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div style="display: flex; margin-top: 20px">
                        <div style="display:flex">
                            <input onchange="isCheckedMixQ()" type="checkbox" name="cbRandomQuestion" class="form-check-input" id="rdQuestion" value="1" checked />
                            <input type="hidden" name="cbRandomQuestion" value="0" />
                            <h4 class="label-mode">Randomize question for each student</h4>
                        </div>
                        <div style="display:flex">
                            <div id="rdQuestionNum" style="display:block" class="div-rd-question">
                                <div style="display:flex">
                                    <h4 class="label-mode-content-2">Number of random question :</h4>
                                    <span>
                                        <input name="rdQuestionNum" onclick="saveChanges()" type="number" min="1" max="@ViewBag.CountQuest" value="@ViewBag.RandomQuestionNum" />
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                }

                <h4 style="margin-top: 20px" class="label-mode-4">Show to students after quiz </h4>
                <div style="margin-top: 10px;margin-bottom:20px;">
                    <div class="div-mode">
                        @if (ViewBag.PublishMark == 1)
                        {
                            <input id="checkBoxMask" onchange="saveChanges()" class="mode-rdb2" value="1" type="checkbox" name="cbPublishMark" checked />
                            <input type="hidden" name="cbPublishMark" value="0" />
                        }
                        else
                        {
                            <input id="checkBoxMask" onchange="saveChanges()" class="mode-rdb2" value="1" type="checkbox" name="cbPublishMark" />
                            <input type="hidden" name="cbPublishMark" value="0" />
                        }


                        <h4 class="label-mode-content-2">Mark</h4>
                        @if (ViewBag.PublicAnswer == 1)
                        {
                            <input onchange="checkMask()" id="checkBoxRight" class="mode-rdb2" type="checkbox" name="cbPublishAnswer" value="1" checked />
                            <input type="hidden" name="cbPublishAnswer" value="0" />
                        }
                        else
                        {
                            <input onchange="checkMask()" id="checkBoxRight" class="mode-rdb2" type="checkbox" name="cbPublishAnswer" value="1" />
                            <input type="hidden" name="cbPublishAnswer" value="0" />
                        }
                        <h4 class="label-mode-content-2">Questions and answers</h4>
                    </div>
                </div>
                <div style="margin-top: 10px;margin-bottom:20px;">
                    <button type="submit" id="saveOption" hidden class="btn-indigo mg_btn">Save Changes</button>
                </div>
            }
        </div>
        <div style="display: flex; margin-top: 15px; margin-left:auto">
            <a href="~/Teacher/Quiz/QuizStarted?qzid=@ViewBag.Quiz.QuizID" class="btn btn-start-quiz">Start Quiz</a>
        </div>

    }



</div>

<script src="~/Scripts/teacher.quiz.js"></script>
<script type="text/javascript">

function reloadModalAddQuestion() {
    var chid = document.getElementById("ddlChapter").value;
    var cid = document.getElementById("cidAddModal").value;
    var qzid = document.getElementById("qzidAddModal").value;
    var qtype = document.getElementById("ddlQtype").value;
    var searchText = document.getElementById("searchString").value;
    $("#divShowQuestions").load('@Url.Action("ShowQuestionForEditQuiz", "Quiz")' +
        '?chid=' + chid + '&cid=' + cid + '&qzid=' + qzid + '&qtype=' + qtype + '&searchText=' + searchText);
}
</script>
