
@{
    ViewBag.Title = "ViewQuizByCourse";
    Layout = "~/Areas/teacher/Views/Shared/_QuizLibraryLayout.cshtml";
}

<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start navbar -->

    <div style="  height: 90px;">
        <div style="display: flex; height: 40px;">
            <h1 class="h5 mg-top">@ViewBag.Course.Name</h1>
            <!-- Example single danger button -->

            <p>&nbsp;</p>
            <div style="display: flex; margin-left: auto;">
                @using (Html.BeginForm("CreateNewQuiz", "Quiz", FormMethod.Get))
                {
                    <input type="hidden" name="tempName" value="">
                    <input type="hidden" id="cid" name="cid" value="@ViewBag.Course.CID" />
                    <input type="hidden" name="questions" />
                    <button type="submit" class="btn-indigo mg_btn">
                        New Quiz
                    </button>
                }
            </div>
        </div>
    </div>
    <!-- end navbar -->
    <!-- General Report -->
    @if (ViewBag.CoutnQuiz == 0)
    {
        <p style="text-align: center; margin-top: 10%; font-size: larger;">There Is No Quiz In This Course</p>
    }
    else
    {


<div class="block-search-dropdown">
            <div class="search-size text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200">
                <div class="mr-2 transition duration-500 px-3 border-b">
                    @if (ViewBag.Search != null && !ViewBag.Search.Equals(""))
                    {
                        <input class="search-box flex-1" style="width: 90%" type="text" placeholder="search" id="searchText" value="@ViewBag.Search">
                    }
                    else
                    {
                        <input class="search-box flex-1" style="width: 90%" type="text" placeholder="search" id="searchText" >
                    }
                    <button type="button" class="search-box" onclick="reloadQuizList()"> <i class="fad fa-search"></i> </button>
                    <input type="hidden" id="pageCount" value="@ViewBag.Page">
                    <input type="hidden" id="quizCount" value="@ViewBag.QuizCount">
                </div>
            </div>

        </div>


        <div class="tb-mg-top" id="divShowQuizList">
            @{Html.RenderAction("ShowQuizList", "Quiz", new { cid = ViewBag.Course.CID, searchText = ViewBag.Search ,i=ViewBag.Page, quizCount=ViewBag.QuizCount }); }

        </div>
    }
</div>

<script type="text/javascript">

    function reloadQuizList() {
        console.log("ayoo");
        var cid = document.getElementById("cid").value;
        var searchText = document.getElementById("searchText").value;
        console.log(searchText+"------"+cid);
        $("#divShowQuizList").load('@Url.Action("ShowQuizList", "Quiz")' +
            '?cid=' + cid + '&searchText=' + searchText+ '&quizCount=0');
    }

</script>

