@{
    ViewBag.Title = "ReportByStudent";
    Layout = "~/Areas/Teacher/Views/Shared/_ReportLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/error.css">
<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <div class="grid grid-cols-1 w-full ">
        <div class="topcontent w-auto flex flex-row justify-center bg-gray p-6">
            <div class=" w-full py-6 w-9/12 flex flex-row">
                <h1 class="h4 pl-6 w-5/12">@ViewBag.Quiz.Quiz_Name</h1>
                <div class="w-7/12 w-full">
                    <form action="#" method="post" class="flex flex-col" id="report-search">
                        <div class="w-10/12 flex">
                            <input type="text" name="txt-report" class="pl-2 w-7/12 txt-report" placeholder="Search..." />
                            <button type="submit" class="btn btn-report"><i class="fad fa-search"></i></button>
                            <div class="w-5/12 pt-2">
                                <span class="ms-error"></span>
                            </div>
                        </div>
                        <div class="w-7/12 flex py-2">
                            <div class="w-4/12">
                                <input type="radio" name="radio-report" value="0" />
                                <label for="radio-question">Question</label>
                            </div>
                            <div class="w-4/12">
                                <input type="radio" name="radio-report" value="1" />
                                <label for="radio-student">Student</label>
                            </div>

                        </div>
                    </form>
                </div>

            </div>



            <div class=" p-6 w-3/12">
                <div>
                    <span class="">Done Date: @ViewBag.Quiz.CreatedDate.ToString("dd-MM-yyyy") </span>
                </div>
            </div>
        </div>
        <hr />
        <div class="p-6">
            <div class="text-center flex flex-wrap column-gap inline-block">
                <a href="~/Teacher/Report/ReportByQuestion?qzid=@ViewBag.Quiz.QuizDoneID" class="p-2 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Question (<span>@ViewBag.QuestCount</span>)</a>
                <a href="~/Teacher/Report/ReportByStudent?@ViewBag.Quiz.QuizDoneID" class="p-2 flex-row border border-black-400 rounded-t mr-1 hover:bg-blue-200 focus:bg-blue-200">Student (<span>@ViewBag.StudentCount</span>)</a>
            </div>


            <!--Report-->
            <div class="w-full bg-gray p-6 border border-black-400">
                <table class="w-full ">
                    <thead>
                        <tr>
                            <th class="w-1/10 ">STT</th>
                            <th class="w-3/10 ">Name</th>
                            <th class="w-2/10 ">Account</th>
                            <th class="w-2/10 ">Correct/Total</th>
                            <th class="w-2/10 ">Percentage</th>
                        </tr>
                    </thead>
                    @foreach (var studentDoneQuiz in ViewBag.StudenDone)
                    {
                        <tr class="hover:bg-gray-200">
                            <td class="w-1/10">1</td>
                            <td class="w-3/10"><a href="~/Teacher/Report/ReportStudentQuiz?qzid=@ViewBag.Quiz.QuizDoneID&stid=@studentDoneQuiz.StudentID" class="data-row">@studentDoneQuiz.Student.Name</a></td>
                            <td class="w-2/10">@studentDoneQuiz.Student.Email</td>
                            <td class="w-2/10">@studentDoneQuiz.StudentMark/@studentDoneQuiz.TotalMark</td>
                            @{ 
                                int percentage = Convert.ToInt32((@studentDoneQuiz.StudentMark / @studentDoneQuiz.TotalMark) * 100);
                            }
                            <th class="w-2/10" style="color:blue">@percentage%</th>
                        </tr>
                    }

                </table>

            </div>
        </div>
        <!--End Report-->




    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/validate.js"></script>

